<div>
	<h1 style="text-align: center; color: yellow; background: purple;">Welcome to the About page !</h1>
	<center>
		<img src="http://www.brooklynvegan.com/files/img/as/phish-msg-2015.jpg">
	</center> 
</div>
<div>
    <p style="text-align: center;"><%= link_to 'Home', root_path %></p>
</div>


