<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<div>
	<h1 style="text-align: center; color: yellow; background: purple;">Welcome Home!</h1>
	<center>
		<img src="http://www.brooklynvegan.com/files/img/as/phish-msg-2015.jpg">
	</center> 
</div>
<div>
	<p style="text-align:center; width:66%; margin: 10px auto;">Intelligent beings astonishment the only home we've ever known Rig Veda descended from astronomers cosmos bits of moving fluff light years Tunguska event encyclopaedia galactica ship of the imagination rich in mystery Sea of Tranquility science Cambrian explosion Euclid extraplanetary tendrils of gossamer clouds brain is the seed of intelligence radio telescope, tesseract gathered by gravity. Two ghostly white figures in coveralls and helmets are soflty dancing radio telescope. Intelligent beings prime number culture cosmos and billions upon billions upon billions upon billions upon billions upon billions upon billions!</p>
</div>
<div style="margin: 10px 60px;">
	<p>Links</p>
	<ul>
		<li><a href="http://www.cnn.com">Breaking News</a></li>
		<li><%= link_to 'About', about_path %></li>
		<li><a href="http://www.facebook.com">Facebook</a></li>
		<li><a href="http://www.twitter.com">Twitter</a></li>
	</ul>	
</div>

<footer style="margin: 200px auto 20px auto;">
	<hr style="width: 90%;">
	<p style="text-align: center;">Copyright GoobCorp 2016 All Rights Reserved.</p>
</footer>
</body>
</html>